# Core dependencies
Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Limiter
Werkzeug
SQLAlchemy
PyJWT
cryptography

# Testing and development
pytest
pytest-cov
pytest-qt
pytest-mock
black
flake8
python-dotenv
setuptools

# For later use in client
PyQt6
requests
requests-mock